@import "reset.css";

:root {
    --color-cyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);
    --color-dark-blue: hsl(212, 21%, 14%);
    --color-gray-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    font-family: "Montserrat";
    background: var(--color-cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

h1 {
    font-family: "Fraunces";
    color: var(--color-dark-blue);
    line-height: 2rem;
}

p {
    font-size: 0.875rem;
    color: var(--color-gray-blue);
}

img {
    height: 100%;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 37.5rem;
}

.product-image img {
    width: 100%;
    border-radius: 0.75rem 0 0 0.75rem;
}

/* Product content */
.product-content {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
    padding: 2.25rem;
    border-radius: 0 0.75rem 0.75rem 0;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.price-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.special-price {
    font-family: "Fraunces";
    color: var(--color-cyan);
    font-size: 2rem;
}

.old-price {
    text-decoration: line-through;
}

.cart-container {
    background: var(--color-cyan);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem;
    border: none;
}

.cart-container img {
    height: auto;
}

.cart-container .label {
    font-weight: 700;
}
.cart-container:hover,
.cart-container:focus {
    background: var(--color-dark-blue);
    cursor: pointer;
}

.cart-container .label {
    color: var(--color-white);
}

/* MOBILE */
@media screen and (max-width: 768px) {
    body {
        justify-content: flex-start;
    }
    .product-container {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        margin-top: 1.5rem;
        width: 100%;
        max-width: 22.5rem;
    }
    .product-content {
        padding: 1.5rem;
        row-gap: 1rem;
        border-radius: 0 0 0.75rem 0.75rem;
    }
    .product-image img {
        display: block;
        border-radius: 0.75rem 0.75rem 0 0;
    }
}